.hover:hover{
    background-color: rgba(178, 60, 253, 0.2);
}

.icon-size{
    width: 30px;
    height: 30px;
}

.cursor{
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .custom-width {
      width: 100%;
    }
  }

  @media screen and (min-width: 700px) {
    .custom-width {
      width: 50%;
    }
  }