.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.custom a{
    text-decoration: none;
    margin-left: 20px;
    
}

.logo{
    text-decoration: none;

}