.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.custom a{
    text-decoration: none;
    margin-left: 20px;
    
}

/* <nav className='header mt-4'>
           <div>
             <h1 className='text-primary'>My Quiz Site</h1>
           </div>
           <div className='nav'>
            <Link to='/'>Home</Link>
            <Link to='/statistics'>statistics</Link>
            <Link to='/blog'>Blog</Link>
           </div>
        </nav> */